# Build artifacts
bin/
obj/
*.exe
*.obj
*.pdb
*.ilk

# Visual Studio user-specific files
*.vcxproj.user
*.suo
*.user
.vs/

# Exclude analysis scripts & analysis output
analysis_scripts/
analysis_output/

# Archives
*.rar
*.zip

# Game files (DLLs and data paks)
DIDLLs/
DIMaps paks/